@font-face {
  font-family: 'Heebo-Regular';
  src: url("../fonts/Heebo/Heebo-Regular.eot");
  src: url("../fonts/Heebo/Heebo-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Heebo/Heebo-Regular.woff") format("woff"), url("../fonts/Heebo/Heebo-Regular.ttf") format("truetype"), url("../fonts/Heebo/Heebo-Regular.svg#Heebo-Regular") format("svg"); }
@font-face {
  font-family: 'Heebo-Thin';
  src: url("../fonts/Heebo/Heebo-Thin.eot");
  src: url("../fonts/Heebo/Heebo-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Heebo/Heebo-Thin.woff") format("woff"), url("../fonts/Heebo/Heebo-Thin.ttf") format("truetype"), url("../fonts/Heebo/Heebo-Thin.svg#Heebo-Thin") format("svg"); }
@font-face {
  font-family: 'Heebo-Light';
  src: url("../fonts/Heebo/Heebo-Light.eot");
  src: url("../fonts/Heebo/Heebo-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Heebo/Heebo-Light.woff") format("woff"), url("../fonts/Heebo/Heebo-Light.ttf") format("truetype"), url("../fonts/Heebo/Heebo-Light.svg#Heebo-Light") format("svg"); }
@font-face {
  font-family: 'Heebo-Medium';
  src: url("../fonts/Heebo/Heebo-Medium.eot");
  src: url("../fonts/Heebo/Heebo-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Heebo/Heebo-Medium.woff") format("woff"), url("../fonts/Heebo/Heebo-Medium.ttf") format("truetype"), url("../fonts/Heebo/Heebo-Medium.svg#Heebo-Medium") format("svg"); }
html {
  overflow-x: hidden;
  font-family: Heebo-Regular;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  font-family: Heebo-Regular, Calibri, Candara, Arial, sans-serif; }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.pink-color {
  color: #fa3bab; }

.inline-block {
  display: inline-block; }

.grey-bg {
  background: #eeeeee; }

.fancy-heading {
  background: url("../img/pink_header.png");
  height: 5px;
  width: 375px;
  display: table;
  margin: 20px auto; }

div#top-strip {
  width: 100%;
  height: 40px;
  padding-top: 10px;
  background: #eeeeee; }
  div#top-strip .contact-line {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #ccc; }
  div#top-strip .contact-line:last-child {
    border: none; }
  div#top-strip #sidebar-search .widget {
    margin: 0; }
    div#top-strip #sidebar-search .widget #search {
      padding: 5px;
      height: 25px; }
    div#top-strip #sidebar-search .widget .btn-primary {
      background: #fa3bab;
      padding: 0 5px;
      height: 25px;
      border-color: #777777; }

@media (max-width: 767px) {
  div#top-strip {
    height: 85px; }
    div#top-strip .contact-line-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 10px; }
    div#top-strip #sidebar-search .widget #search {
      height: 35px; }
    div#top-strip #sidebar-search .widget .btn-primary {
      height: 35px; }

  .navbar-collapse .navbar-nav {
    display: flex;
    flex-flow: column wrap;
    float: none; }
  .navbar-collapse .nav > li {
    flex: 1; }
    .navbar-collapse .nav > li a i.fa {
      display: inline; } }
.navbar-nav {
  float: none;
  display: table;
  margin: 0 auto; }

.navbar .navbar-toggle.collapsed .icon-bar {
  background-color: #7d7d7d; }

.navbar .navbar-toggle.collapsed .icon-bar:nth-of-type(1) {
  transform: rotate(0deg);
  top: 0; }

.navbar .navbar-toggle.collapsed .icon-bar:nth-of-type(2) {
  opacity: 1;
  width: 100%;
  margin-left: 0; }

.navbar .navbar-toggle.collapsed .icon-bar:nth-of-type(3) {
  transform: rotate(0deg);
  bottom: 0; }

.navbar .navbar-toggle .icon-bar {
  position: relative;
  transition: all 500ms ease-in-out;
  background-color: #fa3bab; }

.navbar .navbar-toggle .icon-bar:nth-of-type(1) {
  transform: rotate(45deg);
  top: 6px; }

.navbar .navbar-toggle .icon-bar:nth-of-type(2) {
  opacity: 0;
  width: 0;
  margin-left: 50%; }

.navbar .navbar-toggle .icon-bar:nth-of-type(3) {
  transform: rotate(-45deg);
  bottom: 6px; }

div#page-spacer {
  padding-top: 92px; }

.home div#page-spacer {
  padding-top: 0; }

.navbar-nav a i.fa {
  display: block;
  text-align: center;
  font-size: 20px;
  color: #777777; }

.navbar-nav li.active a i.fa {
  color: #fff; }

.navbar-default .navbar-nav > li > a:hover i.fa {
  color: #fff; }

/*BANNER*/
#main-banner {
  position: relative;
  padding: 20px 0;
  background: #000;
  margin-bottom: 50px; }

#main-banner .scroll_button {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  color: #323232 !important;
  background-color: #ff4b5f;
  box-shadow: 2px 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  z-index: 2; }

#main-banner .scroll_button:before {
  content: "\f107";
  font-family: FontAwesome;
  line-height: 60px;
  color: #fff; }

#main-banner .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

#arrow-down {
  position: absolute;
  z-index: 9;
  width: 100%;
  bottom: 2px;
  height: 80px;
  left: 0;
  background: rgba(0, 0, 0, 0.5); }

#arrow-down div {
  display: table;
  margin: 5px auto;
  color: #fff;
  font-size: 60px;
  cursor: pointer; }

section#about-home {
  margin-bottom: 50px; }

.services-home-wrapper {
  display: flex;
  flex-flow: row wrap; }
  .services-home-wrapper .service-wrap {
    flex: 1;
    padding: 30px; }
    .services-home-wrapper .service-wrap .img-box {
      display: table;
      margin: 10px auto;
      border: 2px solid #fff;
      padding: 20px;
      border-radius: 50%;
      -moz-box-shadow: inset 0 0 10px #000;
      -webkit-box-shadow: inset 0 0 10px #000;
      box-shadow: inset 0 0 10px #000; }
      .services-home-wrapper .service-wrap .img-box a img {
        width: 40px;
        height: 40px;
        -webkit-transition: -webkit-transform .8s ease-in-out;
        transition: transform .8s ease-in-out; }
    .services-home-wrapper .service-wrap .service-btn {
      display: table;
      margin: 10px auto;
      background: #fff;
      padding: 10px; }
    .services-home-wrapper .service-wrap .service-title {
      text-align: center; }
    .services-home-wrapper .service-wrap .service-content {
      text-align: center; }
    .services-home-wrapper .service-wrap:hover {
      background: #fa3bab;
      color: #fff; }
      .services-home-wrapper .service-wrap:hover img {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); }

@media (max-width: 500px) {
  .services-home-wrapper .service-wrap {
    flex: 1 1 100%; } }
/* Carousel */
.carousel-inner.text-center img {
  float: right; }

#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  /* Control buttons  */
  /* Previous button  */
  /* Next button  */
  /* Changes the position of the indicators */
  /* Changes the color of the indicators */ }

.carousel-control-wrapper {
  position: relative; }

#quote-carousel .carousel-control-wrap {
  position: absolute;
  left: 0;
  bottom: 10px; }
  #quote-carousel .carousel-control-wrap .carousel-control {
    position: relative;
    display: inline-block;
    font-size: 10px;
    background: #777777;
    margin: 0;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 5px; }
    #quote-carousel .carousel-control-wrap .carousel-control i {
      font-size: 30px; }

.carousel-inner {
  min-height: 300px; }

.carousel-item {
  background: #eeeeee;
  padding: 15px;
  min-height: 160px; }
  .carousel-item img {
    float: right;
    margin: 0 0 0 10px; }

.item blockquote {
  border: none;
  margin: 0; }

.item blockquote small {
  color: #000; }

.item blockquote p:before {
  content: "\f10d";
  font-family: "Fontawesome";
  float: right;
  margin-right: 10px;
  transform: rotate(180deg); }

/* Mobile Only */

/*# sourceMappingURL=main.css.map */
