@font-face {
  font-family: 'Heebo-Regular';
  src: url("../fonts/Heebo/Heebo-Regular.eot");
  src: url("../fonts/Heebo/Heebo-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Heebo/Heebo-Regular.woff") format("woff"), url("../fonts/Heebo/Heebo-Regular.ttf") format("truetype"), url("../fonts/Heebo/Heebo-Regular.svg#Heebo-Regular") format("svg"); }
@font-face {
  font-family: 'Heebo-Thin';
  src: url("../fonts/Heebo/Heebo-Thin.eot");
  src: url("../fonts/Heebo/Heebo-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Heebo/Heebo-Thin.woff") format("woff"), url("../fonts/Heebo/Heebo-Thin.ttf") format("truetype"), url("../fonts/Heebo/Heebo-Thin.svg#Heebo-Thin") format("svg"); }
@font-face {
  font-family: 'Heebo-Light';
  src: url("../fonts/Heebo/Heebo-Light.eot");
  src: url("../fonts/Heebo/Heebo-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Heebo/Heebo-Light.woff") format("woff"), url("../fonts/Heebo/Heebo-Light.ttf") format("truetype"), url("../fonts/Heebo/Heebo-Light.svg#Heebo-Light") format("svg"); }
@font-face {
  font-family: 'Heebo-Medium';
  src: url("../fonts/Heebo/Heebo-Medium.eot");
  src: url("../fonts/Heebo/Heebo-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Heebo/Heebo-Medium.woff") format("woff"), url("../fonts/Heebo/Heebo-Medium.ttf") format("truetype"), url("../fonts/Heebo/Heebo-Medium.svg#Heebo-Medium") format("svg"); }
html {
  overflow-x: hidden;
  font-family: Heebo-Regular;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  font-family: Heebo-Regular, Calibri, Candara, Arial, sans-serif; }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.pink-color {
  color: #fa3bab; }

.inline-block {
  display: inline-block; }

.flex {
  display: flex; }

.grey-bg {
  background: #eeeeee; }

.margin-bottom-25 {
  margin-bottom: 25px; }

.fancy-heading {
  background: url("../img/pink_header.png");
  height: 5px;
  width: 375px;
  display: table;
  margin: 20px auto; }

.navbar-static-top.nav-drag {
  background: white;
  /*box-shadow: 0px 4px 6px -3px #000;*/
  /*height: 50px;*/
  top: 0;
  width: 100%;
  left: 0;
  position: fixed;
  -webkit-box-shadow: 0px 4px 6px -3px #000;
  -moz-box-shadow: 0px 4px 6px -3px #000;
  box-shadow: 0px 4px 6px -3px #000;
  -webkit-transition: all 1.5s linear;
  -o-transition: all 1.5s linear;
  -moz-transition: all 1.5s linear;
  -ms-transition: all 1.5s linear;
  -kthtml-transition: all 1.5s linear;
  transition: all 1.5s linear; }

.navbar-static-top {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: background 0.5s ease-out;
  -moz-transition: background 0.5s ease-out;
  -o-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -kthtml-transition: all 0.5s linear;
  transition: all 0.5s linear; }

div#top-strip {
  width: 100%;
  height: 50px;
  padding-top: 10px;
  background: #eeeeee; }
  div#top-strip .contact-line {
    display: inline-block;
    padding: 4px 10px;
    border-left: 1px solid #ccc; }
  div#top-strip .contact-line:last-child {
    border: none; }
  div#top-strip #sidebar-search .widget {
    margin: 0; }
    div#top-strip #sidebar-search .widget #search {
      padding: 5px;
      height: 32px; }
    div#top-strip #sidebar-search .widget .btn-primary {
      background: #fa3bab;
      padding: 0 20px;
      height: 32px;
      border-color: #cccccc; }

@media (max-width: 767px) {
  .contact-line {
    font-size: 14px; } }
.menu-item-has-children a.dropdown-toggle {
  padding-top: 36px !important; }
  .menu-item-has-children a.dropdown-toggle .caret i.fa {
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%; }

.navbar-default {
  border-bottom: 1px solid #fa3bab; }

.socials-wrap {
  float: left;
  margin-top: 30px; }

@media (max-width: 991px) {
  .socials-wrap {
    display: none; } }
@media (max-width: 767px) {
  div#top-strip {
    height: 95px; }
    div#top-strip .contact-line-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 10px; }
    div#top-strip #sidebar-search .widget #search {
      height: 35px; }
    div#top-strip #sidebar-search .widget .btn-primary {
      height: 35px; }

  .navbar-collapse .navbar-nav {
    display: flex;
    flex-flow: column wrap;
    float: none; }
  .navbar-collapse .nav > li {
    flex: 1; }
    .navbar-collapse .nav > li a i.fa {
      display: none; } }
.navbar-nav {
  float: none;
  display: table;
  margin: 0 auto;
  padding-bottom: 10px; }
  .navbar-nav li:after {
    left: 4px;
    border-right: 1px #E4E4E4 solid;
    border-left: 0;
    -moz-transform: skew(35deg, 0);
    -ms-transform: skew(35deg, 0);
    -o-transform: skew(35deg, 0);
    -webkit-transform: skew(35deg, 0);
    transform: skew(35deg, 0);
    position: absolute;
    content: "";
    display: inline-block;
    width: 100%;
    height: 9px;
    bottom: -9px; }
  .navbar-nav li.active:after {
    background: #fa3bab; }
  .navbar-nav li:hover:after {
    background: #fa3bab; }
  .navbar-nav li.active a {
    color: #fff; }
  .navbar-nav li:hover a, .navbar-nav li:hover a i {
    color: #fff;
    text-decoration: none; }
  .navbar-nav li a {
    height: 100%; }

.dropdown-menu li:after {
  display: none !important; }

.dropdown-menu li a {
  color: #fa3bab !important; }

.dropdown-menu li.active a {
  color: #fff !important; }

.dropdown-menu li a:hover {
  color: #fff !important; }

@media (max-width: 992px) {
  .navbar-nav li {
    height: auto !important;
    border: none !important; }
  .navbar-nav li:after {
    display: none; } }
.nav > li {
  position: relative;
  float: right;
  border-right: 1px #eee solid;
  margin: 0;
  height: 83px; }

.nav > li:hover {
  color: #ffffff;
  background-color: #fa3bab; }

.navbar-default .navbar-nav > .active {
  background: #fa3bab; }

.navbar .navbar-toggle.collapsed .icon-bar {
  background-color: #7d7d7d; }

.navbar .navbar-toggle.collapsed .icon-bar:nth-of-type(1) {
  transform: rotate(0deg);
  top: 0; }

.navbar .navbar-toggle.collapsed .icon-bar:nth-of-type(2) {
  opacity: 1;
  width: 100%;
  margin-left: 0; }

.navbar .navbar-toggle.collapsed .icon-bar:nth-of-type(3) {
  transform: rotate(0deg);
  bottom: 0; }

.navbar .navbar-toggle .icon-bar {
  position: relative;
  transition: all 500ms ease-in-out;
  background-color: #fa3bab; }

.navbar .navbar-toggle .icon-bar:nth-of-type(1) {
  transform: rotate(45deg);
  top: 6px; }

.navbar .navbar-toggle .icon-bar:nth-of-type(2) {
  opacity: 0;
  width: 0;
  margin-left: 50%; }

.navbar .navbar-toggle .icon-bar:nth-of-type(3) {
  transform: rotate(-45deg);
  bottom: 6px; }

.home div#page-spacer {
  padding-top: 0; }

.navbar-nav a i.fa {
  display: block;
  text-align: center;
  font-size: 20px;
  color: #777777; }

.navbar-nav li.active a i.fa {
  color: #fff; }

.navbar-default .navbar-nav > li > a:hover i.fa {
  color: #fff; }

/*BANNER*/
#main-banner {
  position: relative;
  padding: 20px 0;
  background: #000;
  margin-bottom: 50px; }

@media (max-width: 767px) {
  #main-banner {
    padding: 0; } }
#main-banner .scroll_button {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  color: #323232 !important;
  background-color: #ff4b5f;
  box-shadow: 2px 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  z-index: 2; }

#main-banner .scroll_button:before {
  content: "\f107";
  font-family: FontAwesome;
  line-height: 60px;
  color: #fff; }

#main-banner .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

#arrow-down {
  position: absolute;
  z-index: 9;
  width: 100%;
  bottom: 2px;
  height: 80px;
  left: 0;
  background: rgba(0, 0, 0, 0.5); }

#arrow-down div {
  display: table;
  margin: 5px auto;
  color: #fff;
  font-size: 60px;
  cursor: pointer; }

section#about-home {
  margin-bottom: 50px; }

.services-home-wrapper {
  display: flex;
  flex-flow: row wrap; }
  .services-home-wrapper .service-wrap {
    flex: 1;
    padding: 30px; }
    .services-home-wrapper .service-wrap .img-box {
      display: table;
      margin: 10px auto;
      border: 2px solid #fff;
      padding: 20px;
      border-radius: 50%;
      -moz-box-shadow: inset 0 0 5px #000;
      -webkit-box-shadow: inset 0 0 5px #000;
      box-shadow: inset 0 0 5px #000; }
      .services-home-wrapper .service-wrap .img-box a img {
        width: 40px;
        height: 40px;
        -webkit-transition: -webkit-transform .8s ease-in-out;
        transition: transform .8s ease-in-out; }
    .services-home-wrapper .service-wrap .service-btn a {
      display: table;
      margin: 10px auto;
      background: #fff;
      padding: 10px; }
    .services-home-wrapper .service-wrap .service-btn a:before {
      background: #fa3bab;
      border: 1px solid #fff; }
    .services-home-wrapper .service-wrap .service-title {
      text-align: center; }
      .services-home-wrapper .service-wrap .service-title h3 {
        font-size: 22px; }
    .services-home-wrapper .service-wrap .service-content {
      text-align: center; }
    .services-home-wrapper .service-wrap:hover {
      background: #fa3bab;
      color: #fff; }
      .services-home-wrapper .service-wrap:hover img {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); }

@media (max-width: 500px) {
  .services-home-wrapper .service-wrap {
    flex: 1 1 100%; } }
.testimonials-name {
  position: relative;
  margin: 0 5px;
  padding: 4px 0 8px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px; }

.testimonials-name:before {
  position: absolute;
  bottom: 9px;
  left: -2px;
  z-index: 0;
  width: 0;
  height: 0;
  border-width: 20px 0 0 23px;
  border-style: solid;
  border-color: #DADADA transparent transparent;
  content: "";
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.testimonials-name:after {
  position: absolute;
  right: -2px;
  bottom: 9px;
  z-index: 0;
  width: 0;
  height: 0;
  border-width: 20px 23px 0 0;
  border-style: solid;
  border-color: #DADADA transparent transparent;
  content: "";
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

/* Carousel */
.carousel-inner.text-center img {
  float: right; }

#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  /* Control buttons  */
  /* Previous button  */
  /* Next button  */
  /* Changes the position of the indicators */
  /* Changes the color of the indicators */ }

.carousel-control-wrapper {
  position: relative; }

#quote-carousel .carousel-control-wrap, .specialities-text-widget .carousel-control-wrapper {
  position: absolute;
  left: 0;
  bottom: 10px; }
  #quote-carousel .carousel-control-wrap .carousel-control, .specialities-text-widget .carousel-control-wrapper .carousel-control {
    position: relative;
    display: inline-block;
    font-size: 10px;
    background: #777777;
    margin: 0;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    opacity: 1; }
    #quote-carousel .carousel-control-wrap .carousel-control i, .specialities-text-widget .carousel-control-wrapper .carousel-control i {
      font-size: 30px; }
    #quote-carousel .carousel-control-wrap .carousel-control:hover, .specialities-text-widget .carousel-control-wrapper .carousel-control:hover {
      opacity: 0.5; }

.fa.fa-star.colored {
  color: #ffc000; }

.carousel-inner {
  min-height: 300px; }

.carousel-item {
  background: #eeeeee;
  padding: 15px;
  min-height: 160px; }
  .carousel-item img {
    float: right;
    margin: 0 0 0 10px; }

.item blockquote {
  border: none;
  margin: 0; }

.item blockquote small {
  color: #000; }

.item blockquote p:before {
  content: "\f10d";
  font-family: "Fontawesome";
  float: right;
  margin-right: 10px;
  transform: rotate(180deg); }

.iframe-center iframe {
  display: table;
  margin: 50px auto; }

.block-head {
  position: relative;
  margin-bottom: 20px;
  padding: 0 0 20px;
  border-bottom: 1px #e2e2e2 solid;
  font-weight: 400; }

.block-head:before {
  right: 20px;
  position: absolute;
  bottom: -3px;
  left: 20px;
  width: 35px;
  height: 5px;
  content: "";
  display: inline-block;
  background-color: #fa3bab; }

.block-head:after {
  right: 0;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 80px;
  height: 1px;
  content: "";
  display: inline-block;
  background-color: #fa3bab; }

.block-head.center {
  margin-left: auto;
  margin-right: auto;
  display: table;
  padding-right: 30px;
  padding-left: 30px; }

.block-head.center:before {
  right: 50% !important;
  margin-right: -17.5px;
  left: auto;
  background-color: #fa3bab; }

.block-head.center:before {
  position: absolute;
  bottom: -3px;
  left: 20px;
  width: 35px;
  height: 5px;
  content: "";
  display: inline-block; }

.block-head.center:after {
  right: 50% !important;
  left: auto;
  margin-right: -40px;
  background-color: #fa3bab; }

.block-head.center:after {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 80px;
  height: 1px;
  content: "";
  display: inline-block; }

#specialities .specialities-text-widget .carousel-control-wrapper {
  top: 22px;
  bottom: auto;
  left: 13px; }

#specialities-carousel .carousel-inner .carousel-item {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  padding: 0;
  border-bottom: 2px solid #fa3bab;
  transition: all 0.5s; }
  #specialities-carousel .carousel-inner .carousel-item .carousel-image-item {
    max-height: 220px;
    min-height: 220px;
    overflow: hidden;
    position: relative;
    width: 100%; }
    #specialities-carousel .carousel-inner .carousel-item .carousel-image-item img {
      width: 100%;
      position: absolute; }
  #specialities-carousel .carousel-inner .carousel-item:hover {
    opacity: 0.7; }

@media (max-width: 767px) {
  #specialities-carousel .carousel-inner .carousel-item {
    margin-bottom: 10px; } }
#sidebar-speciality .textwidget {
  padding-bottom: 35px; }
  #sidebar-speciality .textwidget a.btn {
    display: table;
    margin: 10px 0; }

.hvr-underline-from-center:before {
  background: #fa3bab !important; }

/*scroll top widget*/
.scroll-top {
  height: 35px;
  margin: 0px;
  text-align: center;
  background: #fa3bab;
  width: 35px;
  display: none;
  /* border-radius: 5px; */ }

.scroll-top a {
  color: #fff !important;
  display: block;
  height: 100%;
  font-size: 22px;
  width: 100%;
  padding-top: 3px; }

#tooper {
  position: fixed;
  height: 35px;
  width: 35px;
  z-index: 999;
  right: 0px;
  bottom: 40px; }

.mobile-copyright {
  display: none; }

.mobile-footer {
  display: none; }

footer ul.menu {
  padding: 0; }

footer ul.menu li {
  display: block; }

footer .vertical-nav .widget ul li a {
  color: #fff; }
footer .vertical-nav .widget ul li a:hover {
  color: #fa3bab; }

.navbar-fixed-bottom.mobile-footer {
  background: #fff;
  border: none; }

@media (max-width: 991px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff !important; }

  .menu-item-has-children a.dropdown-toggle {
    padding: 10px 15px !important; }

  .mobile-footer {
    display: block; }

  .mobile-footer a {
    font-size: 22px;
    margin: 10px 0;
    display: block; }

  .mobile-copyright {
    display: block;
    border-top: 1px solid #fff; }

  .copyright {
    display: none; } }
.page-top-image {
  background: url("../img/page-head.jpg") no-repeat center center scroll;
  border-top: 1px solid #fa3bab;
  border-bottom: 1px solid #fa3bab; }
  .page-top-image h1 {
    margin: 20px;
    color: #fa3bab; }

#contact-section .parallax-content {
  padding: 110px 0 110px 0; }

.parallax-box .parallax-content {
  padding: 150px 0;
  position: relative;
  z-index: 5; }

.filter-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4); }

.parallax-box .parallax-content h1 {
  margin: 0 auto;
  padding: 0px 20px 20px;
  /* line-height: 20px; */
  font-size: 49px;
  font-weight: 400;
  height: auto;
  text-align: center;
  display: table;
  text-transform: none;
  color: #fff; }

.parallax-box {
  min-width: 100%;
  margin: 0 auto;
  color: #000;
  background-color: #fff;
  float: right;
  background-size: cover;
  -o-background-size: cover;
  position: relative; }

@media (max-width: 991px) {
  .parallax-box.module.parallax {
    background-attachment: scroll !important; } }
.parallax-box2 {
  background: url(../img/bg_1.jpg) no-repeat center center scroll; }

section.module.parallax {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.contact-form-wrap input,
.contact-form-wrap textarea {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  border: solid 2px rgba(128, 128, 128, 0.5);
  direction: rtl;
  color: #000; }

.contact-form-wrap textarea {
  border-color: #ccc;
  resize: none; }

.short-submit-form {
  margin-top: 10px; }

.short-submit-form input.wpcf7-form-control.wpcf7-submit {
  height: 65px; }

input.wpcf7-form-control.wpcf7-submit {
  background: #fa3bab;
  border: none;
  color: #fff;
  padding: 10px 0;
  margin: 10px auto;
  width: 100%;
  border-radius: 5px;
  display: table; }

input.wpcf7-form-control.wpcf7-submit:hover {
  background-color: #666667; }

div.wpcf7-validation-errors {
  float: right; }

.contact-info a,
.contact-info span {
  color: #fa3bab; }

.contact-info {
  text-align: center; }

.contact-info:nth-child(3) a span {
  font-size: 14px;
  font-family: arial; }

.contact-section .socials-wrap {
  float: none;
  margin: 25px auto 35px;
  display: table; }

#contact-page .contact-section .headers-wrap {
  display: none; }

#contact-page .contact-post .container {
  width: auto; }

span.social-icons a {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 2px solid #fa3bab;
  border-radius: 50%;
  color: #fa3bab;
  font-size: 19px;
  margin: 0px 3px; }

span.social-icons a:hover {
  background: #fa3bab;
  color: #fff; }

span.social-icons a i {
  display: table;
  margin: 9px auto; }

.cycle-pager {
  font-size: 30px;
  color: #e2e3e4; }

.cycle-pager-active {
  color: #fa3bab; }

.woocommerce-breadcrumb a {
  font-size: 15px !important; }

nav.woocommerce-breadcrumb {
  margin: 12px 0 !important; }

.product-item {
  border: 1px solid #fa3bab;
  cursor: pointer;
  background: #fff;
  padding: 20px 0px;
  box-shadow: 5px 5px 10px 5px #ccc;
  margin-bottom: 30px;
  transition: all 0.5s;
  min-height: 500px; }

.product-item .title {
  margin-top: 10px;
  min-height: 50px;
  text-align: center;
  text-transform: uppercase;
  padding: 0px 10px;
  color: #fa3bab;
  font-size: 20px; }

.product-item .image {
  margin: 0px 20px;
  text-align: center;
  overflow: hidden; }

.product-item:hover .price {
  opacity: 1;
  visibility: visible; }

.product-item:hover {
  opacity: 0.8; }

.woocommerce .product-item img,
.woocommerce .product-item img {
  height: inherit;
  max-width: none; }

.product-item .price {
  transition: all 0.5s linear;
  font-weight: 500;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  color: #484e51;
  visibility: hidden; }

.product-item .image img {
  max-height: 320px;
  min-height: 320px;
  margin-left: 50%;
  transform: translateX(-50%); }

.products.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.products.row .col-md-3.col-sm-6.col-xs-12 {
  flex: 0 1 20%; }

.cart-contents {
  color: #000;
  font-size: 20px;
  position: relative; }

.cart-contents .cart-badge {
  position: absolute;
  top: -10px;
  display: block;
  right: -10px;
  color: #fff;
  width: 25px;
  background: #fa3bab;
  height: 25px;
  border-radius: 50%;
  box-shadow: 3px 1px 7px -2px rgba(0, 0, 0, 0.5);
  text-align: center;
  border: 1px solid #626167; }

.cart-contents:hover {
  color: #fff; }

@media (max-width: 1200px) {
  .product-item .price {
    visibility: visible;
    opacity: 1; }

  .products.row .col-md-3.col-sm-6.col-xs-12 {
    flex: 1 1 33.33333333%; } }
@media (max-width: 992px) {
  .product-item .image img {
    max-width: 100%; }

  .product-item .price {
    visibility: visible;
    opacity: 1; }

  .products.row .col-md-3.col-sm-6.col-xs-12 {
    flex: 1 1 50%; } }
@media (max-width: 767px) {
  .products.row .col-md-3.col-sm-6.col-xs-12 {
    flex: 1 1 100%; } }
.woocommerce div.product form.cart .button {
  float: none !important;
  background-color: #fa3bab !important;
  width: 100%; }

.woocommerce span.onsale {
  left: 14px !important;
  right: auto !important;
  background-color: #fa3bab !important;
  border-radius: 5px; }

.woocommerce div.product p.price, .woocommerce div.product span.price {
  color: #fa3bab !important; }

.woocommerce-variation-price {
  text-align: center;
  margin-bottom: 15px; }

.woocommerce div.product form.cart .variations label {
  color: #fa3bab;
  font-size: 16px;
  font-weight: 100; }

.up-sells .page-banner {
  display: none; }

.woocommerce-message, .woocommerce-info {
  border-top-color: #fa3bab; }

.woocommerce-message::before {
  content: '\e015';
  color: #fa3bab; }

.woocommerce div.product form.cart div.quantity {
  display: none !important; }

input#ship-to-different-address-checkbox {
  left: 0;
  margin: 7px -20px; }

.widget {
  margin-bottom: 38px; }

#sidebar-right {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px; }
  #sidebar-right .search-button {
    position: relative; }
    #sidebar-right .search-button .search-field.form-control {
      border-radius: 5px; }
    #sidebar-right .search-button .search-submit-btn {
      position: absolute;
      top: 1px;
      left: 1px;
      height: 96%;
      color: #fff;
      background: #fa3bab;
      border-radius: 5px 0 0 5px;
      border: none;
      border-right: 1px solid #fff; }
  #sidebar-right ul li {
    margin: 4px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.the-post-content {
  background: #fff;
  padding: 20px !important;
  border: 1px solid #fa3bab;
  border-radius: 5px;
  margin-bottom: 20px; }

.products-banner {
  background: #fff;
  margin: 20px 0 40px; }

.search-items-wrapper {
  flex: 1 1 25%; }

/*# sourceMappingURL=main.css.map */
